@keyframes card-appear {
    from {
        opacity: 0;
        transform: translateY(-0.7rem); /* Valeur négative pour que les card arrivent par le haut */
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}