$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-light-background: #f7f7f7;
$color-dark-background: #e8e8e8;
$color-box-shadow: #c9c4c4aa;
$color-footer: #3a3a3a;
$color-new-background: #99dbbf;
$color-new:#3f8969;


$font-base: "robotoregular";
$font-headers: "robotoblack";
$font-description: "robotothin";
$font-logo: "shrikhandregular";

$tablet-breakpoint: 650px;
$desktop-breakpoint: 1200px;
